PySide6
opencv-python
mss
numpy
pyaudio
imageio
imageio-ffmpeg
keyboard
soundcard
pynput
soundfile
requests
rapidocr_onnxruntime
pyperclip
maturin
sherpa-onnx>=1.9.30
openai>=1.0.0
whisperx
faster-whisper
ctranslate2
transformers
torch
torchaudio
ffmpeg-python
